asyncgui==0.6.3
asynckivy==0.6.3
attrs==23.2.0
cattrs==23.2.3
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
docutils==0.21.2
flatbuffers==24.3.25
fonttools==4.53.0
greenlet==3.0.3
idna==3.7
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kivy-garden.graph==0.4.0
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=16aac37c1f54ea0ba6970d478ee9fba286ff916fd0f30186cd96b44e577eb479
kiwisolver==1.4.5
materialyoucolor==2.0.9
matplotlib==3.9.0
numpy==2.0.0
openmeteo_requests==1.2.0
openmeteo_sdk==1.11.11
packaging==24.1
pandas==2.2.2
pillow==10.3.0
platformdirs==4.2.2
Pygments==2.18.0
pyparsing==3.1.2
pypiwin32==223
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
requests==2.31.0
requests-cache==1.2.1
retry-requests==2.0.0
six==1.16.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.1
